@import "variables";
@import "../../../node_modules/rfs/scss";
@import "fonts";

/* Global styles and resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

* + *:not(:first-of-type):not(#root) {
  margin-top: 1em;
}

html {
  color-scheme: dark light;
}

body {
  $rfs-minimum-font-size: $paragraph-min;
  @include font-size($paragraph-max);
  min-height: 100vh;
  background-color: $concrete-100;
  color: $cod-gray-950;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;

  font-family: $font-barlow;
  font-weight: 300;
  line-height: 1.5;
}


img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

button, .btn {
  outline-color: transparent;
}

/* remove animations for people who have turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
