@import "variables";
@import "../../../node_modules/rfs/scss";

.form-text {
  //@include padding-left(7.625em);
  //@include padding-right(7.625em);

  @media screen and (width > 56rem) {
    @include padding-top(3.375em);
    //@include padding-bottom(3.375em);

  }
}

form {
  display: grid;
  align-content: center;
  //@include padding-left(7.625em);
  //@include padding-right(7.625em);

  .form-row {
    & > * {
      display: block;
      width: 100%;
    }

    input {
      border: none;
      background-color: $concrete-200;
    }
  }

  .btn__register {
    border-radius: 4px;
    color: $concrete-100;
    background-color: $apple-500;
  }

  @media screen and (width > 56rem) {
    //@include padding-top(1.1875em);
    //@include padding-bottom(3.375em);

    border-radius: 10px;
  }
}