version: '3.8'

services:
  video-sharing:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend/:/usr/src/backend/
    ports:
      - "8000:8000"
    env_file:
      - ./.env.dev
    depends_on:
      - video-sharing-db
  video-sharing-db:
    image: postgres:15.4
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=video
      - POSTGRES_PASSWORD=video
      - POSTGRES_DB=video_dev

volumes:
  postgres_data: