@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 200;
    src: url("../../public/fonts/Barlow-ExtraLight.woff2") format("woff2");
}

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 300;
    src: url("../../public/fonts/Barlow-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: url("../../public/fonts/Barlow-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    src: url("../../public/fonts/Barlow-SemiBold.woff2") format("woff2");
}