@import "../abstracts/variables";
@import "../../../../node_modules/rfs/scss";

.join-container {
  video {
    height: 100vh;
    object-fit: cover;
  }
}

@media screen and (width < 56rem) {
  .container[data-width="narrow"]:has(.tabs-container) {
    min-height: 100vh;
    width: 100%;
    background-color: $concrete-100;
    display: grid;

    .tabs-container {
      margin: auto 0;
      padding: 0 1em;
    }
  }
}