@import "../abstracts/variables";
@import "../../../../node_modules/rfs/scss";

.tabs-container {

  //padding: 2.5rem;

  border-radius: 0.5rem;
  background: $concrete-100;

  @media screen and (width > 56rem) {
    //@include rfs(37.5rem, min-height);
    @include padding-left(7.625em);
    @include padding-right(7.625em);
    @include padding-top(1.1875em);
    @include padding-bottom(3.375em);
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    //color: $cod-gray-600;

    li {
      text-align: center;
      flex: 1 0 0;
    }
  }

  //effect
  &__list {
    li {
      overflow: hidden;
      position: relative;
      @include padding-bottom(1rem);

      a {
        color: $cod-gray-600;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background-color: $punch-600;

        translate: var(--_translate, 0);

        scale: var(--_width, 0) 1;
        transition: scale 250ms,
        translate 250ms;
      }

      &:hover {
        &::after {
          --_width: 1;
        }

        & + li {
          --_translate: -100%;
        }
      }

      &:has(+ :hover){
        --_translate: 100%;
      }

      &:has([aria-selected="true"]) {
        --_width: 1;
      }
    }
  }

  [aria-selected="true"] {
    text-decoration-thickness: 0.25em;
    text-underline-offset: 0.5em;
    color: $cod-gray-950;
  }
}
