@import "../abstracts/variables";
@import "../../../../node_modules/rfs/scss";

.carousel {
  position: relative;

  &__wrapper {
    position: relative;
    width: 100vw;
    height: 40vh;

    & > ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  &__button {
    position: absolute;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
    color: var(--foreground);
    cursor: pointer;

    svg {
      @include rfs(2.375rem, height);
    }

    &:hover,
    &:focus {
      color: white;
      background-color: var(--background);
    }

    &:focus {
      outline: 1px solid black;
    }

    &.prev,
    &.next {
      display: none;
    }

    @media screen and (width > 56rem) {
      &.prev,
      &.next {
        display: block;
      }

      &.prev {
        left: 1rem;
      }

      &.next {
        right: 1rem;
      }
    }
  }

  &__slide {
    position: absolute;
    inset: 0;
    opacity: 0;

    &[data-current-slide="true"] {
      opacity: 1;
    }

    & > img,
    & > video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .overlay {
    position: absolute;
    inset: 0;
    background-color: $cod-gray-950;
    z-index: 100;
    height: 100%;
    width: 100%;
    opacity: .5;
  }
}

