.carousel {

  &__wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;

    & > ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  &__button {
    position: absolute;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: rgba(255, 255, 255, .05);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);
    
    &:hover,
    &:focus {
      color: white;
      background-color: rgba(0, 0, 0, 0.2);
    }

    &:focus {
      outline: 1px solid black;
    }

    &.prev {
      left: 1em;
    }

    &.next {
      right: 1em;
    }
  }

  &__slide {
    position: absolute;
    inset: 0;
    opacity: 0;

    &[data-current-slide="true"] {
      opacity: 1;
    }

    & > img,
    & > video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

