@import "../abstracts/variables";
@import "../../../../node_modules/rfs/scss";

.form-text {
  //@include padding-left(7.625em);
  //@include padding-right(7.625em);

  @media screen and (width > 56rem) {
    @include padding-top(3.375em);
    //@include padding-bottom(3.375em);

  }
}

form {
  display: grid;
  align-content: center;
  //@include padding-left(7.625em);
  //@include padding-right(7.625em);

  .form-row {
    position: relative;

    & > * {
      display: block;
      width: 100%;
    }

    label {
      opacity: 1;
      visibility: visible;
      transition: all .4s;
      padding: .5em;

      &:has(+ input:placeholder-shown) {
        transform: translateY(1em);
        visibility: hidden;
        opacity: 0;
        padding-left: .5em;
      }
    }

    input {
      border: none;
      background-color: $concrete-200;
      padding: 1rem 0.5rem;

      transition: all .4s;

      &::placeholder {
        opacity: 1;
      }

      //&:focus:invalid {
      //  background-color: red;
      //}
    }

    ul {
      list-style: none;
    }
  }

  .btn__register {
    border-radius: 4px;
    color: $concrete-100;
    background-color: $apple-500;
  }

  @media screen and (width > 56rem) {
    //@include padding-top(1.1875em);
    //@include padding-bottom(3.375em);

    border-radius: 10px;
  }
}