@import "../abstracts/variables";
@import "../../../../node_modules/rfs/scss";

.form-text {
  text-align: center;
  margin-top: 1em;
  @media screen and (width > 56rem) {
    @include padding-top(3.375em);
  }
}

form {
  display: grid;
  align-content: center;

  .form-row {
    position: relative;

    & > * {
      display: block;
      width: 100%;
    }

    label {
      opacity: 1;
      visibility: visible;
      transition: all .4s;
      padding: .5em;

      &:has(+ input:placeholder-shown) {
        transform: translateY(1em);
        visibility: hidden;
        opacity: 0;
        padding-left: .5em;
      }
    }

    input {
      border: none;
      background-color: $concrete-200;
      padding: .5rem 0.5rem;

      @media screen and (width > 56rem) {
        padding: 1rem 0.5rem;
      }

      @media (prefers-color-scheme: dark) {
        background-color: $cod-gray-800;
      }

      transition: all .4s;

      &::placeholder {
        opacity: 1;
      }
    }

    ul {
      list-style: none;
    }
  }

  .btn__register {
    border-radius: 4px;
    color: $concrete-100;
    background-color: $apple-500;
  }

  @media screen and (width > 56rem) {
    border-radius: 10px;
  }
}

.forms + footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: $concrete-100;
}