@import '../../../../node_modules/rfs/scss';
@import '../variables';

.video-container {
  display: flex;
  background: linear-gradient(to top, hsl(0 0% 0% / 0.5) 50%, transparent 50%);
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  min-height: 80vh;

  .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .overlay {
    $padding: 1.25rem;
    position: absolute;
    bottom: 25%;
    left: 0;
    transform: translateY(50%);
    @include padding-left($padding);
    @include padding-right($padding);

    .title {
      @include font-size($h1-landing-page-max);
      font-family: $font-barlow;
      font-weight: 600;
      line-height: normal;
    }

    @media screen and (width > 34.5rem) {
      bottom: 50%;
      transform: translateY(50%);
      width: 50%;
    }
  }

  @media screen and (width > 34.5rem) {
    background: linear-gradient(to right, hsl(0 0% 0% / 0.5) 70%, transparent 30%);
  }

  @media screen and (width > 56.25rem) {
    background: linear-gradient(to right, hsl(0 0% 0% / 0.5) 60%, transparent 40%);
  }

  @media screen and (width > 75rem) {
    background: linear-gradient(to right, hsl(0 0% 0% / 0.5) 50%, transparent 50%);
  }
}