@import "../variables";
@import "../../../../node_modules/rfs/scss";


.modal {
  border: none;

  &::backdrop {
    background: hsl(0 0% 5% / 0.45);
  }

  &__register {
    max-width: none; // as max-width for dialog is 80vw
    max-height: none; // as max-height for dialog is 80vh
    inset: 0;
    height: 100%;
    width: 100%;

    &[open] {
      display: grid;
      align-content: center;
      @include padding-left(7.625em);
      @include padding-right(7.625em);
    }

    .form-row {
      & > * {
        display: block;
        width: 100%;
      }

      input {
        border: none;
        background-color: $concrete-200;
      }
    }

    .btn__register {
      border-radius: 4px;
      color: $concrete-100;
      background-color: $apple-500;
    }

    @media screen and (width > 56rem) {
      max-width: revert;
      max-height: revert;
      inset: unset;
      height: unset;
      width: unset;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include padding-top(3.375em);
      @include padding-bottom(3.375em);

      border-radius: 10px;
    }
  }

  &__close-btn {
    box-shadow: unset;

    background-color: inherit;
    position: absolute;
    right: 1em;
  }
}