@import "../abstracts/variables";
@import "../../../../node_modules/rfs/scss";

h1 {
  font-family: $font-barlow;
  line-height: normal;
}

h1.landing {
  font-family: inherit;
  @include font-size(7.875rem);
  font-weight: 600;
}

h1.upload {
  font-family: inherit;
  font-size: 2.375rem;
  font-weight: 600;
}

h1.video-list {
  font-family: inherit;
  @include font-size(2.25rem);
  font-weight: 600;
}

h1.author-subtitle {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

h2 {
  font-family: inherit;
  line-height: normal;
}

h2.landing {
  font-family: inherit;
  font-size: 1.875rem;
  font-weight: 400;
}

h2.video-list {
  font-family: inherit;
  @include font-size(1.75rem);
  font-weight: 600;
}

p {
  font-family: inherit;
  @include font-size($paragraph-max);
  line-height: 1.7;
}

button, .btn {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
}

small {
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 1.4;
}

strong {
  font-family: inherit;
  font-weight: 600;
}

a,
a[aria-selected="false"] {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

a > span.underline {
  font-weight: 300;
}

fieldset.title {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 600;
}

label {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
}

input, input::placeholder {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
}

.card {
  &__video-title {
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.4;
    //text-decoration-line: underline;
  }

  &__video-author {
    font-family: inherit;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.4;
  }
}

.account {
  &__add {
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
  }

  &__title {
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.4;
  }
}

.video {
  &__subtitle {
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.4;
  }

  &__feedback {
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4;
  }
}

.uppercase {
  text-transform: uppercase;
  line-height: normal;
}