@import "../abstracts/variables";

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.text-dark {
  color: var(--foreground);
}

.text-dark-accent {
  color: $apple-500;
}

.text-accent {
  color: $apple-100;
}

.text-white {
  color: $concrete-100;
}

.align-bottom {
  margin-top: auto;
}

.alert {
  &__error {
    color: $tall-poppy-700;
  }

  &__success {
    margin-top: 1em;
    display: block;
  }
}

.underline {
  text-decoration: underline;
}

.text-balance {
  text-wrap: balance;
}