@import "../abstracts/variables";
@import "../../../../node_modules/rfs/scss";

footer {
  section {
    @include rfs(0.3125rem, padding-block);
    @media screen and (width > 56.25rem) {
      @include rfs(2rem, padding-block);
    }
  }

  .grid {
    --gap: 0;
    align-items: center;
    justify-items: center;

    @media screen and (width > 56.25rem) {
      justify-items: unset;

      .social-links + div {
        text-align: right;
      }
    }
  }

  .social-links {
    --gap: 1.375rem;

    .svg-inline--fa {
      height: rfs-fluid-value(1.375rem);
    }
  }

  svg {
    margin-top: 0 !important;
  }
}

main.forms {
  & + footer {
    .social-links {
      & > *,
      & + div > * {
        color: var(--foreground);
        @media screen and (width > 56.25rem) {
          color: $concrete-100;
        }
      }
    }
  }
}