@import "../abstracts/variables";
@import "../../../../node_modules/rfs/scss";

.primary-header {
  position: sticky;
  top: 0;
  z-index: $header-layer;
  background-color: $light-opacity;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.secondary-header {
  position: absolute;
  top: 0;
  z-index: $header-layer;

  &__inner {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }

  svg {
    height: 48px;
    @include rfs(3rem, height);

    @media screen and (width > 56.25rem) {
      @include rfs(6.5625rem, height);
    }

    path {
      fill: $cod-gray-950;
      @media screen and (width > 56.25rem) {
        fill: $concrete-100;
      }
    }
  }
}