@import "../abstracts/variables";
@import "../../../../node_modules/rfs/scss";

.primary-header {
  position: sticky;
  top: 0;
  z-index: $header-layer;
  background-color: $light-opacity;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.secondary-header {
  position: absolute;
  top: 0;

  &__inner {
    display: flex;
    justify-content: center;
  }
}