@import "../../../../node_modules/rfs/scss";

/* Colours */
$apple-50: hsl(107 53% 97%);
$apple-100: hsl(111, 53%, 93%);
$apple-200: hsl(111 50% 85%);
$apple-300: hsl(111 49% 73%);
$apple-400: hsl(112 44% 58%);
$apple-500: hsl(112 45% 45%); /* main */
$apple-600: hsl(112 48% 36%);
$apple-700: hsl(112 46% 29%);
$apple-800: hsl(112 41% 24%);
$apple-900: hsl(113 40% 20%);
$apple-950: hsl(113 53% 10%);

$punch-50: hsl(26 89% 96%);
$punch-100: hsl(25 86% 92%);
$punch-200: hsl(23 81% 83%);
$punch-300: hsl(21 82% 72%);
$punch-400: hsl(18 81% 61%);
$punch-500: hsl(15 80% 53%);
$punch-600: hsl(11 76% 48%); /* main */
$punch-700: hsl(8 74% 40%);
$punch-800: hsl(5 66% 34%);
$punch-900: hsl(5 62% 28%);
$punch-950: hsl(4 68% 15%);

$tall-poppy-50: hsl(0 71% 97%);
$tall-poppy-100: hsl(0 80% 94%);
$tall-poppy-200: hsl(0 85% 89%);
$tall-poppy-300: hsl(0 81% 82%);
$tall-poppy-400: hsl(0 79% 71%);
$tall-poppy-500: hsl(0 73% 60%);
$tall-poppy-600: hsl(0 63% 51%);
$tall-poppy-700: hsl(0 64% 46%); /* main */
$tall-poppy-800: hsl(0 61% 35%);
$tall-poppy-900: hsl(0 55% 31%);
$tall-poppy-950: hsl(0 65% 15%);

$concrete-50: hsl(0 0% 97%);
$concrete-100: hsl(0 0% 95%);
$concrete-200: hsl(0 0% 86%);
$concrete-300: hsl(0 0% 74%);
$concrete-400: hsl(0 0% 60%);
$concrete-500: hsl(0 0% 49%);
$concrete-600: hsl(0 0% 40%);
$concrete-700: hsl(0 0% 32%); /* main */
$concrete-800: hsl(0 0% 27%);
$concrete-900: hsl(0 0% 24%);
$concrete-950: hsl(0 0% 16%);

$cod-gray-50: hsl(0 0% 96%);
$cod-gray-100: hsl(0 0% 91%);
$cod-gray-200: hsl(0 0% 82%);
$cod-gray-300: hsl(0 0% 69%);
$cod-gray-400: hsl(0 0% 53%);
$cod-gray-500: hsl(0 0% 43%);
$cod-gray-600: hsl(0 0% 36%);
$cod-gray-700: hsl(0 0% 31%);
$cod-gray-800: hsl(0 0% 27%);
$cod-gray-900: hsl(0 0% 24%);
$cod-gray-950: hsl(0 0% 5%); /* main */

$light-opacity: hsl(0 0% 95% / 0.8);
/* breakpoint variables */
//$bp-small: 24.15;
//$bp-medium: 45.75;
//$bp-large: 60.25;
//$bp-x-large: 75;

/*https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/*/
$tablet: 34.5; /*rem*/
$tablet-landscape: 56.25;
$desktop: 75;
$big-desktop: 112.5;

$font-barlow: 'Barlow', sans-serif;

$h1-landing-page-max: 7.875rem;
$h1-landing-page-min: 2.75rem;
$h2-landing-page-max: 1.875rem;
$h2-landing-page-min: 1.875rem;
$paragraph-max: 1.125rem;
$paragraph-min: 1rem;
$small-text-max: 0.875rem;
$small-text-min: 0.875rem;
$icons-max: 1.375rem;
$icons-min: 1.375rem;
$button-max: 1rem;
$button-min: 1rem;

$h1-video-list-max: 2.25rem;
$h1-video-list-min: 1.75rem;
$h2-video-list-max: 1.75rem;
$h2-video-list-min: 1.5rem;
$h3-video-list-max: 1rem;
$h3-video-list-min: 1rem;
$card-title-max: 0.875rem;
$card-title-min: 0.875rem;
$card-author-max: 0.75rem;
$card-author-min: 0.75rem;

$h1-upload-max: 2.375rem;
$h1-upload-min: 2.375rem;
$fieldset-title-max: 1rem;
$fieldset-title-min: 1rem;
$input-label-max: 1rem;
$input-label-min: 1rem;
$input-placeholder-max: 1rem;
$input-placeholder-min: 1rem;

$account-add-field-max: 0.875rem;
$account-add-field-min: 0.875rem;
$account-video-title-max: 0.875rem;
$account-video-title-min: 0.875rem;
$account-video-subtitle-max: 0.875rem;
$account-video-subtitle-min: 0.875rem;
$account-video-clarity-max: 0.875rem;
$account-video-clarity-min: 0.875rem;
//
//$fs-h1: 5rem;
//$fs-h2: 2.5rem;
//$fs-h3: 1.5rem;
//$fs-h4: 1.25rem;
//$fs-p: 1rem;

/* Spacing */
$container-padding-inline: 2rem;
$container-max-width: 80rem;
$section-padding-block: 3rem;
//$padding: max(3vh, 1rem) 1.5rem;
//$padding: padding(4rem);
$margin: max(6vh, 2rem);
$gap: 1em;

$container-width-narrow: 45rem;
$container-width-regular: 75rem;
$container-width-wide: 87.5rem;
$container-width-full: 100%;
$standard-padding: 1rem;

$header-image-margin: clamp(1.875rem, 1.0489rem + 4.1304vw, 4.25rem);

/* z-index */
$header-layer: 1000;
$top-layer: 9999;

/* Effects */
$box-shadow-big: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
$box-shadow-little: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;


/* Forms */
$progress: 0;